@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.top-0 {
  top: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 24px;
}
img {
  width: 100%;
}
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
section {
  width: 100%;
  padding: 0px 8% 130px 8%;
}
header {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/homepage-3-slider-img-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.logo {
  display: inline-block;
  vertical-align: middle;
  max-height: 26px;
  width: 100px;
}

.navbar .logo img {
  width: 100%;
}
.container {
  max-width: 1157px;
  padding: 0px 8%;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
}
.fixed-nav {
  background: #000;
}
.tranparent {
  background: transparent;
}

.navbar .menuList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 750px;
  flex-direction: row;
}

.menuList li {
  margin: 0 20px;
}

.menuList li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0;
}
.search {
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 30px;
  line-height: 15px;
}
.search a {
  color: #fff;
}

.header-social-icon {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  /* margin-left: 15px; */
  line-height: 15px;
}

.header-social-icon a {
  margin: 0px 11px;
  color: white;
  padding: 30px 0px;
}

/* hero section */
.hero {
  padding: 130px 8%;
}
.content {
  text-align: center;
  color: #fff;
}

.content h4 {
  font-size: 16px;
  color: #f3f3f3;
  padding: 10px 16px;
}

.content h2 {
  line-height: 75px;
  font-size: 70px;
  font-weight: 600;
  padding: 10px 30px;
}

button.hero-btn {
  outline: none;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 30px;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 4px;
  text-transform: uppercase;
}
/* about */
.about {
  background-color: #ededed;
  padding: 130px 8%;
}
.about-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-img {
  width: 560px;
}
.about-img img {
  width: 100%;
}
.about-text {
  width: 541px;
}
.about-text h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 23px;
  color: #ff214f;
}
.about-text h2 {
  font-size: 32px;
  line-height: 40px;
  color: #232323;
  margin-bottom: 25px;
}
.about-text p {
  margin-bottom: 60px;
}
.about-inner-row {
  display: flex;
  justify-content: space-between;
}
.about-icon i {
  font-size: 40px;
  margin-bottom: 20px;
  color: #ff214f;
}
.about-text h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.pd-40 {
  padding-right: 40px;
}
.about-inner-col {
  margin-right: 10px;
}
.about-inner-col p {
  margin: 0;
}
/* service */

section.service {
  padding: 130px 8%;
}
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-text {
  text-align: center;
  margin-bottom: 8%;
  padding: 0pc 15px;
  width: 750px;
}
.service-text h4 {
  color: #232323;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}
.service-text p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.service-box-row {
  display: flex;
}
.service-box {
  padding: 50px 15px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  text-align: center;
  border: 1px solid #dee2e6;
}
.icon {
  height: 80px;
  background: #ff214f;
  width: 80px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.icon i {
  font-size: 36px;
  color: #fff;
}
.service-box h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #232323;
}
.service-box p {
  line-height: 24px;
  font-size: 14px;
  color: #6f6f6f;
}
/* feature item */
.feature {
  margin: 0;
  padding: 130px 0px;
}
.feature-container {
  display: flex;
  flex-wrap: wrap;
}
.feature-row {
  display: flex;
}
.feature-img {
  position: relative !important;
  background-size: cover !important;
  overflow: hidden !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 25%;
  height: 465px;
}
.first-img {
  background-image: url(img/homepage-option17-image-01.jpg);
}
.sec-img {
  background-image: url(img/homepage-option17-image-02.jpg);
}

.feature-content {
  width: 25%;
  background: #000;
  padding: 50px;
}

.feature-content h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.feature-content h4 {
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 20px;
}

.feature-content p {
  line-height: 24px;
  margin-bottom: 20px;
}

.feature-btn {
  padding: 4px 24px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: inline-block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.feature-btn:hover {
  background-color: #fff;
  color: #000;
}
.feature-btn i {
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.feature-btn i:hover {
  color: #000;
}
/* portfolio */
.portfolio {
  padding: 0px 2% 130px 2%;
}
ul.portfolio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

ul.portfolio-btn li {
  margin: 0px 25px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #6a6a6a;
  cursor: pointer;
}
.portfolio-btn li.active {
  color: #000;
  border-bottom: 1px solid #000;
}
ul.portfolio-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
li.box {
  overflow: hidden;
  width: 100%;
  position: relative;
  width: 23%;
  transition: all 0.3s ease 0s;
  margin: 0 7px 5px 7px;
}
a.portfolio-item {
  color: #000;
  text-align: center;
  position: relative;
  transition: top 1s ease;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -ms-transition: top 1s ease;
  -o-transition: top 1s ease;
}

.portfolio-img {
  transition: transform 0.3s;
}
.portfolio-img img {
  opacity: 1;
  width: 100%;
}

.portfolio-text h5 {
  font-size: 14px;
  color: #232323;
  font-weight: 600;
}

.portfolio-text p {
  font-size: 10px;
  font-weight: 600;
  color: #6a6a6a;
  letter-spacing: 0.5px;
}

.portfolio-text {
  padding: 35px;
  position: absolute;
  height: auto;
  right: 25%;
  bottom: -100px;
  transition-property: bottom;
  transition-duration: 0.3s;
}

li.box:hover .portfolio-img {
  transform: translateY(-100px);
}
li.box:hover .portfolio-text {
  bottom: 0;
}
.box .remove {
  display: none;
}
.box .active {
  display: flex;
}
/* information */
.information {
  padding: 0 8% 130px 8%;
}
.information-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.information-img {
  width: 58%;
}
.information-img img {
  width: 100%;
}
.information-text {
  width: 41%;
}
.information-text h4 {
  font-size: 32px;
  line-height: 40px;
  color: #000;
  margin-bottom: 20px;
}
.information-text li {
  position: relative;
  padding: 0 0 10px 22px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.information-text li::before {
  content: "\f00c";
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
}
button.info-btn {
  background: black;
  padding: 8px 24px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top: 20px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}
button.info-btn:hover {
  background-color: #fff;
  color: #000;
}
/* paralax feature  */
.paralax {
  padding: 0 0% 130px 0;
}
.paralx-container {
  display: flex;
  justify-content: space-between;
}
/* .pararlax-img {
  background-image: url(img/services-classic-07.jpg);
  background-size: cover;
  background-position: center;
  width: 660px;
  height: 708px;
} */
.pararlax-img {
  width: 674px;
  height: 670px;
}
.pararlax-img img {
  width: 100%;
  height: 100%;
}
.pararlax-text {
  padding: 4%;
  width: 60%;
  background-color: #f7f7f7;
}
.pararlax-text h4 {
  font-size: 40px;
  line-height: 46px;
  width: 59%;
  color: #232323;
  margin-bottom: 6%;
}

.paralax-item {
  display: flex;
  width: 50%;
  padding: 15px 15px;
  justify-content: space-between;
}
.paralax-text-row {
  display: flex;
  justify-content: space-between;
}

.paralax-icon {
  margin-right: 40px;
}

.paralax-icon i {
  font-size: 35px;
}

.paralax-innerText h5 {
  color: #232323;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.paralax-innerText p {
  margin-bottom: 25px;
}
/* service section */
.service-header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.service-header h5 {
  font-size: 12px;
  line-height: 24px;
  color: #939393;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}

.service-header h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #232323;
  position: relative;
}

.service-header h3::after {
  content: "";
  width: 90px;
  height: 1px;
  position: absolute;
  background-color: #ff214f;
  top: 60px;
  display: block;
  right: 50%;
  transform: translateX(50%);
}
.sec-service-box {
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
}
