* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f76842;
  --color-danger-varient: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --transition: all 400ms ease;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
a {
  color: var(--color-white);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 0.7rem 1.5rem;
  border: 1px solid transparent;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}
.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}
nav button {
  display: none;
}
nav {
  height: 5rem;
  width: 100vw;
  z-index: 11;
  position: fixed;
  top: 0;
}
.scroll-nav {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
/* header sectin */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}
.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
}

.header-container p {
  margin: 1rem 0 2.4rem;
}
/* categories section start */
#categories {
  background: var(--color-bg1);
  height: 29rem;
}
#categories h1 {
  line-height: 1;
}

.categories-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categories-left p {
  margin: 1rem 0 3rem;
}

.categories-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.categories-left {
  margin-right: 4rem;
}

.category {
  background: var(--color-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}
#categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categories-left p {
  margin: 1rem 0 2rem;
}

.categories-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4rem;
}

.categories-left {
  margin-right: 4rem;
}

article.category {
  background: var(--color-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

span.category-icon {
  padding: 0.7rem;
  border-radius: 0.9rem;
  background: var(--color-bg1);
}

.category h5 {
  margin: 2rem 0 1rem;
}
.category p {
  font-size: 0.82rem;
}
.category:nth-child(2) span {
  background: var(--color-danger);
}
.category:nth-child(3) span {
  background: var(--color-success);
}
.category:nth-child(4) span {
  background: var(--color-warning);
}
.category:nth-child(5) span {
  background: var(--color-success);
}
/* courses section start */

section#courses {
  margin-top: 10rem;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background: var(--color-bg1);
  text-align: center;
  overflow: hidden;
  border: 1px solid transparent;
  transition: var(--transition);
  border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.course:hover {
  background: transparent;
  border-color: var(--color-primary);
}
.course-info {
  padding: 2rem;
}
.course-info p {
  font-size: 0.9rem;
  margin: 1.2rem 0 2rem;
}

/*
=============== 
Questions
===============
*/
.faqs {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.container.faqs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.question {
  display: flex;
  align-items: flex-start;
  height: fit-content;
  flex-direction: column;
  background: var(--color-primary);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
  width: 100%;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}
