* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f76842;
  --color-danger-varient: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-pribg2mary: #424890;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --transition: all 400ms ease;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
a {
  color: var(--color-white);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 0.8rem 1.8rem;
  border: 1px solid transparent;
  font-weight: 500;
}
.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}
.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}
nav button {
  display: none;
}
nav {
  height: 5rem;
  width: 100vw;

  position: fixed;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
/* header sectin */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}
.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
}

.header-container p {
  margin: 1rem 0 2.4rem;
}
